.search__row
  .search__en
    Search
  .search__ja
    飲食店検索
  = form_with url: search_shops_path, local: true, method: :get, class: "search-form"  do |f|
    = f.text_field :keyword, placeholder: "お近くの地域でテイクアウトができる店舗をお探しします", class: "search-input"
    = f.submit "検索", class: "search-btn"
  .search__mainbox
    - @shops.each do |shop|
      .search__box
        .search__box--contens
          = link_to shop_path(shop.id) do
            .search__name
              = shop.name
            %hr
            .search__station
              = shop.area
              -# 駅から徒歩
              -# = shop.station_walk
              -# 分
        .search__box--foods
          - shop.foods.each do |food|
            .search__box--food
              .search__box--food-image
                - if food.image.url
                  = image_tag food.image.url
                - else
                  .noimage__box--index
              .search__box--food-under
                .search__box--food-name
                  = food.name
                .search__box--food-price
                  値段（円）：
                  %spam.search__box--food-num
                    = food.price
    .paginaiteLow
      = paginate @shops