.shop
  .shop__en
    Information
  .shop__ja
    詳細情報
  .shop__box
    .shop__box--image
      - if @shop.image
        = image_tag @shop.image
    .shop__box--contens
      .shop__name.shop__content
        = @shop.name
      %hr
      .shop__station.shop__content
        = @shop.introduction
      %hr
      .shop__address.shop__content
        = @shop.address
      %hr
      .shop__time.shop__content
        営業時間：
        = @shop.shop_time
        %span.space
        定休日：
        = @shop.shop_holiday