.shop
  .shop__en
    Information
  .shop__ja
    詳細情報
  .shop__box
    .shop__box--image
      - if @shop.image.url
        = image_tag @shop.image.url
    .shop__box--contens
      .shop__name.shop__content
        = @shop.name
      %hr
      .shop__station.shop__content
        = @shop.introduction
      %hr
      .shop__address.shop__content
        = @shop.address
      %hr
      .shop__time.shop__content
        営業時間：
        = @shop.shop_time
        %span.space
        定休日：
        = @shop.shop_holiday
    .shop__box--foods
      - @foods.each do |food|
        .food-box
          .food-box--image
            - if food.image.url
              = image_tag food.image.url
            - else
              .noimage__box
            - if shop_signed_in? && current_shop.id == food.shop.id
              .food-box--destroy
                = link_to food_path(food.id), method: :delete do
                  %i.fas.fa-trash-alt
          .food-box--under
            .food-box--name
              = food.name
            .food-box--price
              値段（円）：
              = food.price
            .food-box--date
              %span
                料理掲載日
              %span
                = food.created_at
- if shop_signed_in? && current_shop.id == @shop.id
  .content__btns
    = link_to edit_shop_path(@shop.id) do
      .content__btn
        店舗情報を変更
    = link_to new_shop_post_path(@shop.id) do
      .content__btn
        テイクアウトピックアップ情報を投稿
    = link_to new_shop_food_path(@shop.id) do
      .content__btn
        料理情報を投稿